* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Video de fondo en el Body*/
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans, sans-serif;
}
.container-multimedia {
  /* background-color: lightblue; */
  background-image: url(./imagenes/candado-encriptar.mp4);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.7;
}

/* Container General */
main {
  /* border: 5px solid black; */
  width: 90vw;
  height: 90vh;
  max-width: 1200px;
  display: flex;
  gap: 10px;
}
/* Container Left */
#container-left {
  background-color: rgb(255, 255, 255);
  box-shadow: -10px 5px 5px 0px black;
  border-radius: 30px;
  opacity: 0.8;
  width: 55%;
}
.subcontainer-left {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#container-text,
#container-paragraph-left,
#container-buttons {
  width: 90%;
  margin: auto;
}

#container-text {
  height: 70%;
}
textarea {
  background: none;
  width: 100%;
  height: 100%;
  padding: 25px 15px;
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
}
#container-paragraph-left {
  height: 10%;
  padding: 0 20px 0 30px;
  display: flex;
  align-items: end;
}
#container-paragraph-left > p {
  width: 100%;
}
#container-buttons {
  height: 20%;
  padding: 10px 20px 20px;
  display: flex;
  gap: 10px;
}
input {
  background-color: #1c4272;
  width: 50%;
  height: 80%;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* Container Right */
#container-right {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 10px 5px 5px 0px black;
  opacity: 0.8;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}
.subcontainer-right {
  width: 100%;
  height: 80%;
  /* margin: auto; */
  box-sizing: border-box;
}
#container-img,
#container-h2-right,
#container-paragraph-right {
  width: 90%;
  margin: auto;
  text-align: center;
}

#container-img {
  height: 75%;
}
#container-img > img {
  width: 85%;
  height: 100%;
}
#container-h2-right {
  height: 15%;
  padding: 10px;
}
#container-paragraph-right {
  height: 10%;
  padding: 10px;
}

/* ESTILOS PARA LOS ELEMENTOS CREADO CON EL DOM (Encriptar/Desencriptar) */
/* Boton copiar texto encriptado/desencriptado */
.container-btn {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-btn > input {
  width: 50%;
  height: 70%;
}

/* ENCRIPTADO */
#container-encriptado {
  width: 100%;
  height: 100%;
}
#container-textarea-encrip {
  height: 50%;
}
#container-h3-encrip {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-img-encrip {
  height: 30%;
}
#container-img-encrip > img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
}

/* DESENCRIPTADO */
#container-desencriptado {
  width: 100%;
  height: 100%;
}
#container-textarea-desencrip {
  height: 50%;
}
#container-h3-desencrip {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-img-desencrip {
  height: 30%;
}
#container-img-desencrip > img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
}

/* MODALES */

/* #container-left {
  display: none;
}
#container-right {
  display: none;
} */
#container-cards {
  width: 100%;
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.card {
  width: 80%;
  height: 100%;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  box-sizing: border-box;
}
.container-textarea {
  height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin: 10px 0;
}
.container-textarea > textarea {
  height: 100%;
  padding: 0 10px;
  border: 1px solid grey;
}
.container-h4 {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img {
  justify-content: center;
  height: 30%;
  margin: 10px auto;
  display: flex;
}
.container-img > img {
  width: 95%;
  height: 100%;
}
.containerBtn {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerBtn > input {
  height: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MEDIA QUERY (Responsive Desing) */

@media (min-width: 50px) and (max-width: 150px) {
  /* Ocultamos el contenedor derecho */
  #container-right {
    display: none;
  }
  main {
    height: 95vh;
  }
  #container-left {
    width: 100%;
    height: 100%;
  }
  .subcontainer-left {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #container-text {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 25px;
    height: 55%;
    margin-bottom: 10px;
  }
  #mitextarea {
    padding: 0 5px;
    font-size: 16px;
  }
  #container-paragraph-left {
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
  }
  #container-paragraph-left > p {
    height: 100%;
    font-size: 16px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
  }
  #container-buttons {
    flex-direction: column;
    padding: 0;
    margin: 5px auto 0;
    width: 90%;
    height: 20%;
    overflow: hidden;
    gap: 10px;
  }
  #encriptar,
  #desencriptar {
    width: 100%;
    height: 50%;
    font-size: 16px;
    margin: auto;
    overflow: hidden;
  }
}

/* Horizontal */
/* @media (min-width: 150px) and (max-width: 500px) and (orientation: landscape) {
  #container-text {
    background-color: aquamarine;
    border: 1px solid red;
    height: 100%;
  }
} */

@media (min-width: 150px) and (max-width: 375px) {
  /* Ocultamos el contenedor derecho */
  #container-right {
    display: none;
  }
  main {
    height: 95vh;
  }
  #container-left {
    width: 100%;
    height: 100%;
  }
  .subcontainer-left {
    overflow: hidden;
  }

  #container-text {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 30px;
    height: 55%;
    margin-bottom: 10px;
  }
  #mitextarea {
    padding: 0 5px;
    font-size: 20px;
  }
  #container-paragraph-left {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    padding: 0;
  }
  #container-paragraph-left > p {
    height: 100%;
    font-size: 16px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: end;
  }
  #container-buttons {
    flex-direction: column;
    padding: 0;
    margin: 5px auto 0;
    width: 90%;
    height: 20%;
    overflow: hidden;
    gap: 10px;
  }
  #encriptar,
  #desencriptar {
    width: 100%;
    height: 50%;
    font-size: 16px;
    margin: auto;
    overflow: hidden;
  }
}

@media (min-width: 375px) and (max-width: 600px) {
  /* Ocultamos el contenedor derecho */
  #container-right {
    display: none;
  }
  main {
    height: 95vh;
  }
  #container-left {
    width: 100%;
    height: 100%;
  }
  .subcontainer-left {
    overflow: hidden;
  }

  #container-text {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 30px;
    height: 55%;
    margin-bottom: 10px;
  }
  #mitextarea {
    padding: 0 5px;
    font-size: 20px;
  }
  #container-paragraph-left {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
  }
  #container-paragraph-left > p {
    height: 100%;
    display: flex;
    align-items: end;
    font-size: 18px;
    padding: 0 0 0 10px;
  }
  #container-buttons {
    flex-direction: column;
    padding: 0;
    margin: 5px auto 0;
    width: 90%;
    height: 20%;
    gap: 10px;
  }
  #encriptar,
  #desencriptar {
    width: 100%;
    height: 50%;
    font-size: 20px;
    margin: auto;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .subcontainer-left {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #container-text {
    margin-top: 25px;
    margin-bottom: 10px;
    height: 65%;
  }
  #mitextarea {
    padding: 0 15px;
  }
  #container-paragraph-left {
    padding: 0;
    width: 80%;
  }
  #container-paragraph-left > p {
    height: 100%;
    display: flex;
    align-items: end;
    font-size: 18px;
  }
  #container-buttons {
    padding: 0 10px;
    height: 15%;
    overflow: hidden;
  }
  #encriptar,
  #desencriptar {
    margin: auto;
    height: 65%;
    font-size: 20px;
  }

  /* Texto Encriptado */
  #container-textarea-encrip {
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45%;
  }
  #textareaEncriptado {
    padding: 0 20px;
  }
  #container-h3-encrip {
    height: 9%;
  }

  /* Texto Desencriptado */
  #container-textarea-desencrip {
    height: 45%;
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #container-textarea-desencrip > textarea {
    padding: 0 20px;
  }
  #container-h3-desencrip {
    height: 9%;
  }
  #container-h3-desencrip > h3 {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  #container-paragraph-left {
    padding: 0;
    width: 80%;
  }
  #container-paragraph-left > p {
    height: 100%;
    display: flex;
    align-items: end;
  }
  #container-buttons {
    padding: 0 10px;
    height: 15%;
    overflow: hidden;
  }
  #encriptar,
  #desencriptar {
    margin: auto;
    height: 65%;
    font-size: 18px;
  }

  /* Texto Encriptado */
  #textareaEncriptado {
    padding: 25px;
  }

  /* Texto Desencriptado */
  #container-textarea-desencrip > textarea {
    padding: 25px;
  }
}
